body {
background: url(../img/back.png);
background-repeat: repeat-x;
background-color: #0c739f;
}

a, h1, h2, input, p {
	font-family: Arial, sans-serif;
}

.page {
	width: 1000px;
	padding: 11px 0px 0px 0px;
  margin: auto;
  background: #ffffff;
	box-shadow: 0 0 10px #000;
	position: relative;
}

.logo {
	float: left;
	padding-left: 27px;
}

.cont_coun {
	float: right;
	display: block;

}

.contact {
display: block;
float: right;
color: #128aa7;
padding: 0px 19px;
font-size: 13px;
line-height: 18px;
}


.clearfix:after {
	content: '';
	clear: both;
	display: block;
}

.countries {
	display: inline-block;
	position: absolute;
	top: 111px;
	right: 30px;
}

.countries>a {
	padding: 0 4px;
}

.photo {
	display: block;
	border-top: 1px solid #128aa7;
	border-bottom: 1px solid #128aa7;
}

/*---Menu_top---*/

.menu_top {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	box-shadow: 0 0 10px #000;
	border-bottom: 1px solid;
	position: relative;
	z-index: 1;
}

ul {
    display: block;
		background: #343434;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}


ul.menu > li {
		display: block;
    float: left;
    position: relative;
		width: 142px;
		height: 27px;
		font-size: 14px;
		text-align: center;
}

ul.menu > li > a {
    display: block;
		padding-top: 6px;
    color: white;
    background-color: #343434;
    text-decoration: none;
}
ul.menu > li > a:hover {
    background-color: #343434;

}
ul.submenu {
    display: none;
    position: absolute;
    width: 150px;
    top: 27px;
    left: 0;
    background-color: black;
    border: 1px solid #343434;
		box-shadow: 0 0 10px #000;
		text-align: left;
}

ul.submenu > li {1
    display: block;
}

ul.submenu > li > a {
    display: block;
    padding: 5px 10px;
    color: #d6d6d6;
    background-color: #343434;
    text-decoration: none;
}

ul.submenu > li > a:hover {
    text-decoration: underline;
}

ul.menu > li:hover > ul.submenu {
    display: block;
}

/*---Content---*/

.container {
	width: 100%;
	overflow: hidden;
	text-align: center;
	color: #424c43;
}

h2 {
	text-align: center;
	font-weight: bold;
	color: #424c43;
	font-size: 17px;
	padding-top: 7px;
}

.info {
	display: block;
	padding: 5px;
	float: left;
	width: 20%;
	background: #edeef0;
	border-right: 1px solid gray;
	padding-bottom: 10000px;
	margin-bottom: -10000px;
}

.info>p {
	font-size: 14px;
	line-height: 25px;
}

.news {
	display: block;
	padding: 5px;
	float: right;
	width: 20%;
	background: #edeef0;
	border-left: 1px solid gray;
	padding-bottom: 10000px;
	margin-bottom: -10000px;
}

.news>p {
	font-size: 14px;
	line-height: 25px;
}

.content {
	display: block;
	width: 58%;
	float: left;
	padding-bottom: 10000px;
	margin-bottom: -10000px;
}

/*---Footer---*/

.copy {
	text-align: center;
	padding: 15px;
	color: #edeef0;
	font-size: 12px;
}
